body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: #ff3366;
  font-size: 60px;
  margin-bottom: 0px;
  text-align: center;
  font-weight: 400;
}

h2 {
  color: #ff7043;
  font-size: 40px;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
  font-weight: 400;
}

h3 {
  color: #ff7043;
  font-size: 18px;
  text-align: center;
  font-weight: 400;
}

a {
  text-decoration: none;
}

.Weather .container {
  margin-top: 90px;
  max-width: 600px;
}

.row {
  max-width: 100%;
  justify-content: center;
  margin-top: 45px;
}

.Weather .col-6 {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-evenly;
  padding-top: 50px;
  max-width: 300px;
}

.Weather .weather-elements {
  text-align: center;
  margin-top: 70px;
  margin-bottom: 70px;
  color: #fa3366;
  font-size: 17px;
}

.next-days {
  text-align: center;
  margin-bottom: 45px;
  font-size: 20px;
}

.card-group {
  max-width: 100%;
  justify-content: center;
}

.card {
  padding: 14px;
  max-width: 102px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  border-color: transparent;
}

.weather-emoji {
  font-size: 27px;
  text-align: center;
  line-height: 16px;
}

.card-title {
  text-align: center;
  font-weight: 300;
  color: #fa7043;
  font-size: 16px;
  line-height: 14px;
}

.card-text {
  text-align: center;
  color: #fa3366;
  font-size: 15px;
}

.Weather #search-form {
  display: block;
  margin: 0 auto;
  border-radius: 100px;
  padding: 3.5px 80px;
  margin-bottom: 50px;
  border-width: 2px;
  border-color: #ff7043;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.1);
  outline: none;
}

.Weather #current-emoji {
  font-size: 100px;
  position: relative;
  left: 35px;
  bottom: 60px;
}

.Weather #current-temp {
  font-size: 60px;
  margin-bottom: 20px;
}

.Weather #current-city {
  font-size: 40px;
  padding-top: 0px;
  margin-bottom: 0px;
}

.Weather #current-date {
  font-size: 17px;
  padding-top: 0px;
}

#footnote {
  text-align: center;
  font-size: 14px;
  color: #fa3366;
  margin-top: 40px;
  margin-bottom: 30px;
  text-decoration: none;
}
